h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('0', 'Introducción', 'content.html#page/tema-1/')
                    +navTemaItem('1', 'Terminología Específica', 'content.html#page/tema-2/')
                    +navTemaItem('2', 'Materiales e insumos utilizados en marroquinería, clases, características.', 'content.html#page/tema-3/')
                    +navTemaItem('3', 'Materiales para la elaboración de moldes, tipos, características', 'content.html#page/tema-4/')
                    +navTemaItem('4', 'Conceptos básicos de diseño para marroquinería.', 'content.html#page/tema-5/')
                    +navTemaItem('5', 'Manejo e interpretación de la información, documentos, bocetos, revistas, catálogos.', 'content.html#page/tema-6/')
                    +navTemaItem('6', 'Realizar trazos de modelos para diferentes diseños de bolsos, billeteras, accesorios para la cabeza y correas.', 'content.html#page/tema-7/')
                    +navTemaItem('7', 'Componentes BS.', 'content.html#page/tema-8/')