include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 Introducción

        .row.my-5

            .col

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                br

                p El diseño y patronaje de complementos de marroquinería comprende diferentes etapas que permiten llevar a cabo el proceso productivo, en las cuales se emplean herramientas, máquinas y materiales que intervienen dentro de las diferentes fases del proceso.

                p En este material de formación se contextualiza el reconocimiento de los utensilios necesarios a tener dentro del taller de marroquinería para desarrollar los productos que hacen parte de cada proceso. 