include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 1. Terminología Específica

        .row.my-5

            .col-10

            p La manufactura del cuero pasa por diferentes procesos, iniciando por el curtido donde se convierten las pieles en materia prima (cuero) para finalmente obtener productos de marroquinería, talabartería, tapicería, calzado y confección de prendas de vestir. 

            p Desde los inicios en la elaboración de artículos de cuero, se han desarrollado procesos artesanales y en la actualidad, como resultado de la innovación tecnológica, se han venido implementando procesos productivos tecnificados con maquinaria computarizada para el desarrollo de los productos.
        
        .row.justify-content-center.align-items-center

            .col-auto

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_02.svg", style="max-width: 100%").img-fluid

            .col-lg-6

                p.mt-2

                    strong Para entrar en contexto con el diseño en complementos de marroquinería, es importante conocer los siguientes términos:
            
                #accordionExample.accordion

                    .card
                        #headingOne.card-header

                            .header-ecored
                                h3
                                    button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                        | 1.1 Marroquinería
                        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                            .card-body
                                | Es el arte del cuero, donde este se transforma en productos ya sean de pequeña medida o de grande marroquinería.
            
                    .card
                        #headingTwo.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                        | 1.2 Diseño:
                        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                            .card-body
                                | Herramienta estratégica que amplía la competitividad de la organización y donde se deben tener en cuenta algunas fases en las cuales se analiza, planifica y ejecuta para poder responder a las necesidades del usuario, integrando de manera eficiente lo que busca el cliente y lo que ofrece la organización.
                    
                    .card
                        #headingThree.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.3 Tendencias:
                        #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Orientan el diseño de la colección, suelen estar inspiradas en el arte, la naturaleza y la cultura.

                    .card
                        #headingFour.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.4 Colección:
                        #collapseFour.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Conjunto de artículos propuestos en una temporada en especial, creada bajo parámetros de moda previamente definidos, aplicando en ella coherencia interna en cuanto a unidad formal, funcional y de estilo.

                    .card
                        #headingFive.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.5 Linea:
                        #collapseFive.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Conjunto de artículos pertenecientes a la misma clase, funcionan de manera similar, comprende variedad de tamaños, colores, precios, etc. Estos los define el público y la ocasión de uso (línea infantil, femenina o masculina – línea deportiva, escolar, etc.).

                    .card
                        #headingSix.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSix', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.6 Mood board:
                        #collapseSix.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Herramienta visual del diseñador, que permite plasmar de manera creativa una investigación para posteriormente crear una colección.

                    .card
                        #headingSeven.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseSeven', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.7 Materiales:
                        #collapseSeven.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Materia prima o componentes que se utilizan para el desarrollo de un producto.

                    .card
                        #headingEight.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseEight', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.8 Insumos:
                        #collapseEight.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Elementos procesados que permiten crear nuevos productos.

                    .card
                        #headingNine.card-header
                            .header-ecored
                                h3
                                    button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseNine', aria-expanded='false', aria-controls='collapseThree')
                                        | 1.9 Herramientas:
                        #collapseNine.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                            .card-body
                                | Instrumentos que permiten desempeñar un trabajo u oficio.