include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 2. Materiales e insumos utilizados en marroquinería, clases, características.

            .row.my-5

                .col-10

                    p Dentro de la marroquinería se encuentran diferentes tipos de materiales que permiten generar productos elaborados en cuero, sintético, lonas, textiles, etc.  Algunos de ellos se pueden revisar aquí:

.container#materiales

    .header-ecored

        h2 2.1 Materiales

            .row.my-5

                .col-10

                    p La cadena de valor de la marroquinería requiere de algunas materias primas e insumos en el desarrollo de los productos.

                    .header.my-md-5

                        .header-body
              
                            p.text-center.my
                    
                                strong Entre estos estan:

                    p.text-left

                        strong Cuero:

                        p materia prima que se obtiene mediante el proceso de curtido de las pieles de diferentes animales, que sirve para la elaboración de productos de marroquinería, talabartería, calzado, etc. 
                            spam 
                                strong  Se clasifican en:  Curtidos al cromo, curtidos al vegetal, curtición mixta.
                    
                    br

                    p.text-left

                        strong Sintético:

                        p Es un material que presenta una base textil a la cual se le aplica una capa de sintético, ya sea de PV o PU. Entre estos materiales se encuentran:
                            spam
                                strong  PU (poliuretano) , PVC (policloruro de vinilo).
                    
                    br

                    p.text-left

                        strong Textiles:

                        p Este tipo de material se utiliza en marroquinería ya sea para el desarrollo de piezas exteriores o interiores en los productos. Entre ellos están las lonas, las sedas y forros, así:

                            spam
                                strong  lonas, sedas y forros, tafeta de acetato, tafeta de nylon

                    br

                    p.text-left

                        strong Abullonados y refuerzos:

                        p entre los abullonados o rellenos, se distinguen el yumbolon, microporosas y espumas, así: EVA (etileno vinil acetato), Polex (espuma de polietileno expandido), Guata, Odena, Salpa, Cartón Kraft.

.container#insumos

    .header-ecored

        h2 2.2 Insumos

        .row.justify-content-center.align-items-center

            .col-lg-6

                p Dentro del proceso para la elaboración de los productos, se  usan diferentes elementos que ya han sido procesados y que  son parte fundamental en el desarrollo de los artículos.
            
            .col-lg-6

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_04.svg", style="max-width: 100%").img-fluid

        .header.mt-md-5

            .header-body

                p.header-title.text-center

                    strong Entre estos estan:

        .row.text-center.text-lg-left.pt-4(style="background-color:#E3DAC6; border-radius:10px")
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria1.jpg', data-fancybox='gallery', data-caption='Solución pegaucho: Es una clase de pegante a base de caucho natural y resinas sintéticas que se usa en marroquinería para pegar piezas de cuero o sintético, carnazas, espumas, textiles, etc. Se utiliza para pegues previos a la costura. También se usa en otras áreas para pegues que no requieren de mayor resistencia. Se debe aplicar en lugar donde haya bastante ventilación y usando tapabocas.', data-imagen='assets/images/ilustraciones/galeria1.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria1.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria2.jpg', data-fancybox='gallery', data-caption='Cemento de contactoCemento de contacto: Es un pegante de contacto a base de poliuretano, que se utiliza para el pegue permanente de piezas de cuero, sintético, espumas, odenas, etc. Se debe aplicar en un lugar donde haya bastante ventilación y usando tapabocas.', data-imagen='assets/images/ilustraciones/galeria2.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria2.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria3.jpg', data-fancybox='gallery', data-caption='Sellafix: Producto utilizado para el acabado de bordes que permite rellenar o igualar las superficies en especial los cantos de las piezas de cuero o sintético que presentan demasiados poros.', data-imagen='assets/images/ilustraciones/galeria3.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria3.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria4.jpg', data-fancybox='gallery', data-caption='Tinta marroquinera: Es una tinta que se usa para el acabado de bordes, permite obtener acabado brillante y mate para el desarrollo de productos como billeteras, cinturones, y bolsos de cuero y/o sintético cuando la pieza está al corte.', data-imagen='assets/images/ilustraciones/galeria4.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria4.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria5.jpg', data-fancybox='gallery', data-caption='Colorantes: Penetran el material y se utilizan para darle color al cuero curtido al vegetal, pueden ser anilinas minerales a base de agua o alcohol. Se encuentran en el mercado en diferentes colores ya preparadas o listas para preparar.', data-imagen='assets/images/ilustraciones/galeria5.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria5.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria6.jpg', data-fancybox='gallery', data-caption='Pigmentos: Son tinturas vinílicas que generan cobertura al darle color al material, estas no penetran sobre el mismo. Se encuentran en el mercado de diferentes colores, con acabados mate o brillante. Actualmente, ya tienen sellador incluido.', data-imagen='assets/images/ilustraciones/galeria6.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria6.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria7.jpg', data-fancybox='gallery', data-caption='Emulsión natural: Se utiliza para sellar las anilinas, evitando que se decoloren y manchen al caerles agua.', data-imagen='assets/images/ilustraciones/galeria7.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria7.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria8.jpg', data-fancybox='gallery', data-caption='Sellador: Es un producto que se usa para sellar la tintura, dando una apariencia natural y buena resistencia al frote. Se encuentra en mate o brillante.', data-imagen='assets/images/ilustraciones/galeria8.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria8.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria9.jpg', data-fancybox='gallery', data-caption='Cremalleras: Existe gran variedad de cremalleras, dentro de las cuales se encuentran: de  nylon, metálicas, desmontables y de cadena continua, siendo esta última la más usada en marroquinería.', data-imagen='assets/images/ilustraciones/galeria9.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria9.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria10.jpg', data-fancybox='gallery', data-caption='Deslizadores: Son los carreteles que permiten abrir o cerrar la cremallera, estos se deslizan sobre los dientes de los cierres. Se encuentran de diferentes formas y acabados.', data-imagen='assets/images/ilustraciones/galeria10.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria10.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria11.jpg', data-fancybox='gallery', data-caption='Broches: Se usan para cerrar algunos productos como billeteras, bolsos y monederos según diseño. También existen broches imanados o broches tipo cazuela.', data-imagen='assets/images/ilustraciones/galeria11.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria11.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria12.jpg', data-fancybox='gallery', data-caption='Reatas: Tejido utilizado en marroquinería para cinturones, correas, bolsos, maletines, etc. Se encuentra por rollos y en diferentes medidas.', data-imagen='assets/images/ilustraciones/galeria12.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria12.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria13.jpg', data-fancybox='gallery', data-caption='Velcro: Es un tipo de cierre de contacto, compuesto por dos partes: una áspera y otra suave y al unirlas generan el cierre. Se usa para cerrar billeteras, bolsos, etc. según el diseño del producto.', data-imagen='assets/images/ilustraciones/galeria13.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria13.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria14.jpg', data-fancybox='gallery', data-caption='Cinta falla: Es una cinta en polyester que se usa para decorar y dar acabados en la confección, se utiliza para ribetear a máquina. Se encuentra en el mercado por rollos y en diferentes colores.', data-imagen='assets/images/ilustraciones/galeria14.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria14.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria15.jpg', data-fancybox='gallery', data-caption='Hilo: En el mercado se encuentran varios tipos de hilos (en algodón, poliéster y nylon) utilizados en confección de artículos de cuero, textil y/o sintético. Sin embargo, el hilo más adecuado para marroquinería es el hilo de nylon (poliamida), ya que presenta alta resistencia y durabilidad. Se encuentra en diferentes calibres y los más usados son: No. 20, No. 40 y No. 60.', data-imagen='assets/images/ilustraciones/galeria15.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria15.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria16.jpg', data-fancybox='gallery', data-caption='Cordones: Son tejidos cilíndricos de algodón y polyester de varios espesores, usados como cierres según diseños o como rellenos para formar manijas.', data-imagen='assets/images/ilustraciones/galeria16.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria16.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria17.jpg', data-fancybox='gallery', data-caption='Vivos: Son cables plásticos que se usan para formar un vivo. Se encuentra el vivo espagueti y plástico, los cuales se ponen en los bordes para estructurar el producto, se usa especialmente para la confección de bolsos.', data-imagen='assets/images/ilustraciones/galeria17.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria17.jpg', alt='')
            .col-lg-3.col-md-4.col-6
                a.d-block.mb-4.h-100(href='assets/images/ilustraciones/galeria18.jpg', data-fancybox='gallery', data-caption='Herrajes: Hebillas, mosquetones, chapas, remaches, ojaleles, argollas, cuadrantes, torniquetes, cadenas, trabillas, pasadores, etc.', data-imagen='assets/images/ilustraciones/galeria18.jpg')
                    img.img-fluid.img-thumbnail(src='assets/images/ilustraciones/galeria18.jpg', alt='')