include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 3. Materiales para la elaboración de moldes, tipos, características

            .row.my-5

                .col-10

                    p Los materiales y elementos que se necesitan para realizar el proceso de patronaje son:

    .row.align-items-center.justify-content-center.my-5

        .col-12.col-md-10

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_06.png").custom-item-img.my-2

                .custom-item-info.card-border-bottom.my-2
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h3.card-title Cartulina o cartón dúplex
                            p Son láminas de papel de mayor espesor que permiten darle forma y un corte de manera fácil. Con este material se desarrolla la moldería según diseño. Se pueden conseguir comercialmente por pliegos de 100 x 70 cm y en diferentes colores.

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_07.png").custom-item-img.my-2

                .custom-item-info.card-border-bottom.my-2
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h3.card-title Portaminas o lápiz
                            p Utilizado para realizar los trazos sobre el papel, permite generar líneas más exactas para la medida del molde. Se recomienda de mina 0,5 a 0,7 mm.

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_08.png").custom-item-img.my-2

                .custom-item-info.card-border-bottom.my-2
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h3.card-title Borrador
                            p Se usa para corregir trazos. Los más aconsejables son los de miga de pan o de nata, porque evitan manchas en el molde.

            article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_09.png").custom-item-img.my-2

                .custom-item-info.card-border-bottom.my-2
                    .card(style="border-color: #E3DAC6").mb-0
                        .card-body
                            h3.card-title Mina plata
                            p Es una mina que sirve para escribir sobre el cuero o el sintético y es fácil de remover. Útil para marcar líneas de corte de patrones y líneas que demarcan el dobles de algunas piezas.