include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container.md-12

    .header-ecored

        h1 4. Conceptos básicos de diseño para marroquinería.

        .row.my-5

                .col-sm-12.col-md-6

                    p Para adentrarse en el mundo del diseño en marroquinería, es importante acercarse a los conceptos básicos con que se inicia la actividad creativa para producir artículos que sean acordes a las tendencias actuales.

                    p 
                        spam
                            strong La innovación, es el ejercicio de aplicar la creatividad empleando nuevas ideas y conceptos,
                        
                        |   ya sea a un servicio o producto, esta se aplica para desarrollar propuestas novedosas que le den un valor agregado a un artículo, ya sea de manera tangible o intangible.
                    
                    p Teniendo claro el concepto de innovación, es posible iniciar con el diseño, que es la herramienta estratégica que amplía la competitividad de la organización y donde se deben tener en cuenta algunas fases en las cuales se analiza, planifica y ejecuta para poder responder a las necesidades del usuario, integrando de manera eficiente lo que busca el cliente y lo que ofrece la organización.

                    p
                        strong Para iniciar el proceso de diseño, debe haber un problema descubierto (una necesidad) que permita analizar y procesar la información obtenida inicialmente en el estudio de mercados y que lleve al desarrollo del proyecto. 

                .col-sm-12.col-md-6.text-center

                    img(src="assets/images/ilustraciones/MF1-AUD-IMA_10.svg", style="max-width: 100%").img-fluid

.row.my-5.justify-content-center.align-items-center(style="background-color:#977C72; border-radius:10px")

    .container

        .row.my-5

            .col-sm-12.col-md-6

                p(style="color: white; margin-bottom: -18px") Para ello, se debe hacer la pregunta

                p(style="color: white; font-size: 50px") ¿qué se va a hacer?

            .col-md-6.d-none

                img(src="assets/images/ilustraciones/MF1-AUD-IMA_11.svg").custom-item-img

.container

    .header-ecored

        p
            strong Una vez formulada esta pregunta se realiza un análisis que permite dar forma al producto, teniendo en cuenta algunos lineamientos, tales como: