include ../mixins/functions

+pageHeader('Aspectos básicos en marroquinería', 'assets/images/header/header_media.svg')

.container

    .header-ecored

        h1 6. Realizar trazos de modelos para diferentes diseños de bolsos, billeteras, accesorios para la cabeza y correas.

        .row.my-5.justify-content-center.align-items-center

                .col-sm-12.col-md-6

                    p A partir del proceso mencionado anteriormente, se indican los pasos a tener en cuenta para realizar bocetos de artículos de marroquinería. El proceso es igual para los diferentes artículos.

                .col-sm-12.col-md-6.text-center

                    img(src="assets/images/ilustraciones/MF1-AUD-IMA_30.svg", style="max-width: 100%").img-fluid

        nav.nav-tab-ecored.my-5
            #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                    strong 6.1 Encajar el dibujo
                a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                    strong  6.2 Determinar proporciones
                a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                    strong 6.3 Realizar el boceto
                
            #nav-tabContent.tab-content
                #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')

                    .row.my-5.justify-content-center.align-items-center

                        .col-sm-12.col-md-6.text-center

                            img(src="assets/images/ilustraciones/MF1-AUD-IMA_31.png", style="max-width: 60%").img-fluid

                        .col-sm-12.col-md-6

                            p.my-2 Se realiza a través de líneas de construcción donde se puedan definir las dimensiones del producto (largo, alto y ancho). Estas se podrán borrar u ocultar al culminar el boceto.


                #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                    
                    .row.my-5.justify-content-center.align-items-center

                        .col-sm-12.col-md-6.text-center

                            img(src="assets/images/ilustraciones/MF1-AUD-IMA_32.png", style="max-width: 60%").img-fluid

                        .col-sm-12.col-md-6

                            p.my-2 A través de estas líneas de construcción se determinan las proporciones de las diferentes partes del producto.

                #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')

                    .row.my-5.justify-content-center.align-items-center

                        .col-sm-12.col-md-6.text-center

                            img(src="assets/images/ilustraciones/MF1-AUD-IMA_33.png", style="max-width: 60%").img-fluid

                        .col-sm-12.col-md-6

                            p.my-2 Posteriormente, a través del manejo de perspectiva, se realiza tridimensionalmente el boceto y se relacionan las características del mismo; entre ellas, la propuesta de color.

.row.my-5.justify-content-center.align-items-center(style="background-color:#977C72")

    .container

        .row.my-5.justify-content-center.align-items-center

            .col-md-5

                p.text-center(style="color: white; font-size: 60px")
                    strong El boceto:

            .col-md-5

                p(style="color: white") Es entonces la materialización de las ideas y no existe ninguna exigencia al momento de realizar su trazo, por lo que no es necesario tener conocimientos previos de dibujo.

                p(style="color: white")
                    strong Definitivamente, su realización permite desarrollar la creatividad en la creación de productos.  