.container

  ol

    li
      p 
        | Cámara de Comercio de Bogotá y Cundinamarca. (2006). 
        i Balance Tecnológico Cadena Productiva Marroquinera en Bogotá y Cundinamarca. 
        | Recuperado de: 
        a(href="https://core.ac.uk/download/pdf/52145012.pdf", target="_blank") https://core.ac.uk/download/pdf/52145012.pdf 

    li
      p 
        | Iváñez, J., (2000). 
        i Gestión de diseño en la empresa. 
        | Madrid, España. Editorial McGraw Hill.