.header-arrow {
  position: relative;
  background-color: #977C72;
  padding: 2rem;

  h3 {
      margin: 0;
      color: $white;      
  }

}

.header-arrow::before {
   content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-style: solid;
    border-width: 25px 25px 0px 25px;
    border-color: #977C72 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    margin-top: -15px; 
}

